@import "./scss/normalize.scss";
@import "./scss/variable.scss";

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
p {
  margin: 0;
}
.arrow {
  border: solid $arrow-color;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;

  &.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  &.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  &.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  &.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}
